@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	
	background:#475CA8;
	font-family: 'Open Sans', sans-serif;
}

#rodape_layout{

	width: 900px;
	height:60px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -458px;
    background:#fff;
    border-radius:10px;
}



#box_footer{
	
}

#footer_b{
	position: absolute;
    top: 0;
    right: 1%;
    width: 45%;
    float: right;
}

#footer_a{
	width: 33%;
	
	float: left;

}


.img_footer{
	float:right;
	width: 60px;
	height: 60px;
}

.img_footer_grupo {
    float: left;
    width: 50px;
    height: 60px;
    margin-left: 25px;
}

.img_footer_certificacao {
    float: left;    
    height: 48px;
    margin-left: 55px;
    margin-top: 13px;
}

#footer_a p {
	
position: absolute;
top: -10px;
font-size: 10px;
color: #475ca8;
font-weight: bold;
display: block;
text-align: center;
left: 100px;
}


#footer_b p {
	
	position: absolute;
    top: -10px;
    font-size: 10px;
    color: #475ca8;
    font-weight: bold;
    display: block;
    text-align: center;
    left: 60px;
}


#end{
	font-weight: bold;
	color: #475ca8;
    position: absolute;
    top: 5%;
    left: 35%;
    width: 30%;
    font-size: 8px;
    line-height: 80%;
}