html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

html{
	height:100%;	
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: sans-serif;
	font-size: 12px;
	height:100%;
	
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(204, 204, 204, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255,
		255, 1)), color-stop(100%, rgba(204, 204, 204, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(204, 204, 204, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(204, 204, 204, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(204, 204, 204, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(204, 204, 204, 1) 100%);
	
	background-attachment: fixed;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

body.ajuda {
	background-image: none;
}

a {
	color: blue;
}

a:visited {
	color: blue;
}

img {
	border: 0px;
}

#tab-conteudo {
	margin-top: 10px;
	margin-left: 50px;
	width: 690px;
	border-spacing: 0px;
}

#tab-conteudo .topoesq {
	background: url("imagens/contornos/topoesq.gif") #413883;
	width: 20px;
}

#tab-conteudo .topo {
	padding-top: 10px;
	padding-bottom: 10px;
	background: url("imagens/contornos/topo.gif") #413883;
}

.titulo {
	font-size: 16px;
	color: white;
}

.titulo a {
	color: white;
	text-decoration: none;
}

.titulo a:visited {
	color: white;
}

.titulo a:hover {
	color: white;
	text-decoration: underline;
}

#tab-conteudo .topodir {
	background: url("imagens/contornos/topodir.gif") #413883;
	width: 20px;
}

#tab-conteudo .esq {
	background: url("imagens/contornos/esq.gif") #f6f6f6;
	width: 20px;
}

#tab-conteudo .conteudo {
	padding: 5px;
	background: #f6f6f6;
}

#tab-conteudo .dir {
	background: url("imagens/contornos/dir.gif") #f6f6f6;
	width: 20px;
}

#tab-conteudo .baixoesq {
	background: url("imagens/contornos/baixoesq.gif") #413883 bottom left;
	width: 20px;
}

#tab-conteudo .baixo {
	font-size: 10px;
	color: white;
	text-align: right;
	background: url("imagens/contornos/baixo.gif") #413883 bottom;
}

#tab-conteudo .baixoSub {
	font-size: 10px;
	color: white;
}

#tab-conteudo .baixo a {
	color: white;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
}

#tab-conteudo .baixo a:visited {
	color: white;
}

#tab-conteudo .baixo a:hover {
	text-decoration: underline;
}

#tab-conteudo .baixodir {
	background: url("imagens/contornos/baixodir.gif") #413883 bottom left;
	width: 20px;
}

#tabs a {
	text-decoration: none;
	color: black;
}

#tabs a:visited {
	color: black;
}

#tabs a.selecionado {
	font-weight: bold;
}

#tabs a:hover {
	text-decoration: underline;
	color: blue;
}

.texto-titulo {
	font-style: italic;
}

.disabled {
	background-color: silver;
}

.conteudo table {
	border-spacing: 5px;
	border-width: 0px;
	padding: 0px;
}

td {
	font-size: 12px;
}

fieldset {
	margin: 0px;
	padding: 5px;
}

.info_cabecalho {
	padding: 7px;
	margin-bottom: 10px;
	border: 1px solid gray;
	background-color: white;
}

.info_cabecalho img {
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
}

.info_cabecalho p {
	margin: 0px;
}

.icone a {
	color: black;
	text-decoration: none;
}

.icone a:visited {
	color: black;
}

.icone a:hover {
	color: red;
	text-decoration: underline;
}

table.tabela {
	border: 1px outset gray;
	border-spacing: 2px;
}

table.tabelaT {
	border: 1px outset gray;
	border-spacing: 2px;
}

table.tabelaC {
	border: 1px outset gray;
	border-spacing: 2px;
}

table.tabelaF {
	border: 1px outset gray;
	border-spacing: 2px;
}

table.tabelaG {
	border: 1px outset gray;
	border-spacing: 2px;
}

table.tabela td {
	padding: 0px;
}

table.tabelaT td {
	padding: 0px;
}

table.tabelaC td {
	padding: 0px;
}

table.tabelaF td {
	padding: 0px;
}

table.tabelaG td {
	padding: 0px;
}

.tabela table {
	border: 1px inset gray;
	border-spacing: 0px;
	margin: 0px;
}

.tabelaT table {
	border: 1px inset gray;
	border-spacing: 0px;
	margin: 0px;
}

.tabelaC table {
	border: 1px inset gray;
	border-spacing: 0px;
	margin: 0px;
}

.tabelaF table {
	border: 1px inset gray;
	border-spacing: 0px;
	margin: 0px;
}

.tabelaG table {
	border: 1px inset gray;
	border-spacing: 0px;
	margin: 0px;
}

.tabela table th {
	background-color: #413883;
	color: white;
	font-size: 12px;
	text-align: left;
}

.tabelaT table th {
	background-color: #1EFF00;
	color: white;
	font-size: 12px;
	text-align: left;
}

.tabelaC table th {
	background-color: #FF0000;
	color: white;
	font-size: 12px;
	text-align: left;
}

.tabelaF table th {
	background-color: #9292FF;
	color: white;
	font-size: 12px;
	text-align: left;
}

.tabelaG table th {
	background-color: #413883;
	color: white;
	font-size: 12px;
	text-align: center;
}

.tabela table td {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

.tabelaT table td {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

.tabelaC table td {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

.tabelaF table td {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

.tabelaG table td {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

.tabela table td.l0 {
	
}

.tabelaT table td.l0 {
	
}

.tabelaC table td.l0 {
	
}

.tabelaF table td.l0 {
	
}

.tabelaG table td.l0 {
	
}

.tabela table td.l1 {
	background-color: #dfdfdf;
}

.tabelaT table td.l1 {
	background-color: #dfdfdf;
}

.tabelaC table td.l1 {
	background-color: #dfdfdf;
}

.tabelaF table td.l1 {
	background-color: #dfdfdf;
}

.tabelaG table td.l1 {
	background-color: #dfdfdf;
}

.iterator {
	font-size: 11px;
}

table.preenchimento {
	background-color: #f6f6f6;
	border: 1px outset gray;
	border-spacing: 2px;
}

.preenchimento td {
	border: 1px inset gray;
	margin: 0px;
	padding: 2px;
}

.preenchimento td table {
	border: 0px;
	margin: 5px;
}

.preenchimento td table td {
	border: 0px;
}

.preenchimento td.titulo {
	background-color: #413883;
	color: white;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.preenchimento td.definicao {
	background-color: #dedede;
}

.preenchimento .definicao table {
	border-spacing: 0px;
}

.preenchimento .definicao td {
	margin: 0px;
	padding: 0px;
}

table.preenchimento_fatT {
	background-color: #f6f6f6;
	border: 2px outset gray;
	border-spacing: 0px;
}

table.preenchimento_fatC {
	background-color: #f6f6f6;
	border: 2px outset gray;
	border-spacing: 0px;
}

table.preenchimento_fatF {
	background-color: #f6f6f6;
	border: 2px outset gray;
	border-spacing: 0px;
}

.preenchimento_fatT td {
	border: 2px inset gray;
	margin: 0px;
	padding: 0px;
}

.preenchimento_fatC td {
	border: 2px inset gray;
	margin: 0px;
	padding: 0px;
}


.preenchimento_fatF td {
	border: 2px inset gray;
	margin: 0px;
	padding: 0px;
}

.preenchimento_fatT td table {
	border: 0px;
	margin: 1px;
}

.preenchimento_fatC td table {
	border: 0px;
	margin: 1px;
}

.preenchimento_fatF td table {
	border: 0px;
	margin: 1px;
}

.preenchimento_fatT td table td {
	border: 0px;
}

.preenchimento_fatC td table td {
	border: 0px;
}

.preenchimento_fatF td table td {
	border: 0px;
}

.preenchimento_fatT td.titulo {
	background-color: #1EFF00;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.preenchimento_fatC td.titulo {
	background-color: #FF0000;
	color: white;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.preenchimento_fatF td.titulo {
	background-color: #9292FF;
	color: white;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.preenchimento_fatT td.definicao {
	background-color: #dedede;
}

.preenchimento_fatC td.definicao {
	background-color: #dedede;
}

.preenchimento_fatF td.definicao {
	background-color: #dedede;
}

.preenchimento_fatT .definicao td {
	margin: 0px;
	padding: 0px;
}

.preenchimento_fatC .definicao td {
	margin: 0px;
	padding: 0px;
}

.preenchimento_fatF .definicao td {
	margin: 0px;
	padding: 0px;
}

.asterisco {
	font-size: 10px;
	color: red;
}

.titulo .asterisco {
	font-size: 12px;
	font-weight: bold;
	color: yellow;
}

.error_perfil {
	color: red;
	font-weight: bold;
}

#mensagem_erro img {
	float: left;
}

#mensagem_erro ul {
	margin-left: 50px;
	color: red;
	font-weight: bold;
	padding: 0px;
}

#mensagem_erro li {
	display: block;
	margin: 0px;
}

#mensagem_conf img {
	float: left;
}

#mensagem_conf ul {
	margin-left: 50px;
	color: #008000;
	font-weight: bold;
	padding: 0px;
}

#mensagem_conf li {
	display: block;
	margin: 0px;
}

/* 
 * Novo padr�o
 */

/* inputs                     -------------------------------------------------------------*/

/*  inicio teste 
 .input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

#caixa_form input[type=password], #caixa_form input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border-bottom: 2px solid #475CA8;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	background: rgba(255, 255, 255, 0.1);
	-webkit-transition: background, border-color 1s;
	transition: background, border-color 1s;
}

#caixa_form input[type=password], #caixa_form input[type=text]:hover {
	border-bottom: 2px solid #FEAB11;
	background: rgba(255, 255, 255, 0.1);
}

#entrar {
	margin-bottom: 2em;
    margin-left: 1em;
	margin-top: 1em;
	width: 100%;
	-webkit-box-shadow: 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px #cccccc;
	color: #FEAB11;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.1);
	padding: 10px 20px 10px 20px;
	border: solid #FEAB11 1px;
	border-radius: 3px;
	text-decoration: none;
	-webkit-transition: 1s;
	transition:1s;
}

#entrar:hover {
	color: #fff;
	border: solid #FFF 1px;
	background: #FEAB11;
	text-decoration: none;
}

#caixa_login {
	box-sizing: border-box;
}
#new{
	width: 280px;
}
#caixa_logo {
	width: 225px;
	margin: auto;
}

#caixa_form {
	width: 360px;
	margin: 0 auto;
}

#principal {
	width: 900px;
	position: relative;
	/*   top: 50%;        */
	left: 50%;
	
	margin-left:-450px;
	
	/*
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	*/
}

#neww {
	width: 250px;
}

#cabecalho {
	height: 41px;
	background: #475CA8;
	padding: 20px 50px 0px 40px;
	border-radius: 50px 2px 50px 2px;
}

#cabecalho h2 {
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	color: #fff;
	margin: 4px 0px 0px 0px;
	padding: 0px;
}

#cabecalho a {
	font-style: normal;
	color: #fff;
}

#cabecalho a:hover {
	text-decoration: underline;
}

#conteudo {
	min-height: 65%;
	width: 100%;
	margin-top: 20px;
}

#cont_interno {
	
}

#navegar {
	float: right;
	margin-top: 4px;
}

#rodape {
	font-size: 9px;
	height: 18px;
	background: #475CA8;
	padding: 1em 3em 1em 3em;
	color: #fff;
	border-radius: 30px 1px 30px 0px;
}

#rodape p {
	margin: 0px;
	padding: 4px 0px 0px 0px;
}

#rodape_copyright {
	float: right;
}

#rodape_copyright a {
	color: #fff;
	font-style: italic;
}

/*-------------------------------------------------------------------------*/
#mensagem_atencao {
	padding: 10px;
	border: 3px solid red;
	background-color: #ffeded;
	color: red;
	margin-bottom: 10px;
}

#mensagem_atencao h4 {
	margin: 0px;
	font-size: 1.7em;
	font-weight: bold;
}

#mensagem_atencao ul {
	margin: 0px 0px 0px 25px;
	padding: 0px;
}

div.mensagem_atencao {
	padding: 10px;
	border: 3px solid red;
	background-color: #ffeded;
	color: red;
	margin-bottom: 10px;
}

div.mensagem_atencao h4 {
	margin: 0px;
	font-size: 1.7em;
	font-weight: bold;
}

div.mensagem_atencao ul {
	margin: 0px 0px 0px 25px;
	padding: 0px;
}

table.sortable {
	font-size: 12px;
	border: 1px outset gray;
	border-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

table.sortable thead {
	cursor: default;
}

table.sortable th {
	color: white;
	font-weight: bold;
	background-color: #413883;
}

table.sortable tr.l0 td {
	background-color: #ffffff;
}

table.sortable tr.l1 td {
	background-color: #dfdfdf;
}

table.relatorio_unif {
	vertical-align: top;
}

table.grid {
	font-size: 12px;
	border: 1px outset gray;
	border-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

table.grid th {
	color: white;
	border: 1px solid white;
	padding: 4px;
	font-weight: bold;
	background-color: #413883;
}

table.grid td {
	font-size: 12px;
}

table.grid tr.l0 td {
	background-color: #ffffff;
}

table.grid tr.l1 td {
	background-color: #dfdfdf;
}

table.grid tr.lred td {
	background-color: #FFDAB9;
}

table.grid_interno {
	font-size: 12px;
	border: 0px;
	border-spacing: 1px;
	margin: 0px;
}

table.grid_interno th {
	color: black;
	font-weight: bold;
	background-color: #c0c0c0;
}

table.grid_interno tr.l0 td {
	background-color: #ffffff;
}

table.grid_interno tr.l1 td {
	background-color: #dfdfdf;
}

table.grid_dados {
	font-size: 12px;
	border-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

table.grid_dados th {
	color: black;
	font-weight: bold;
	text-align: left;
	padding-right: 5px;
}

ul.tabs_novas {
	padding: 6px 0px 6px 0px;
	margin: 0px;
}

ul.tabs_novas li {
	display: inline;
}

ul.tabs_novas a {
	font-weight: bold;
	background-color: #e1e1e1;
	color: black;
	border: 1px solid #606060;
	padding: 3px 6px 3px 6px;
	cursor: pointer;
}

ul.tabs_novas a:hover {
	background: #e1e1e1;
}

ul.tabs_novas a.selecionado {
	background: #F9F9F9;
	color: #606060;
}

div.tab_container {
	padding: 10px;
	border: 1px solid #606060;
	margin: -1px 0px 0px 0px;
}

div.tab_container h3 {
	display: none;
}

div.ajax_carregando {
	margin: 0px;
	padding: 0px;
	background-color: #ff6347;
	color: black;
	font-weight: bold;
	float: right;
	display: none;
}

div.ajax_carregando_img {
	background: #FFFFFF url(imagens/icones/ajax-loader.html) no-repeat center;
	margin: 0px;
	padding: 0px;
	color: black;
	font-weight: bold;
	float: right;
	display: none;
}

.naoEncontrado {
	background-color: gray;
	font-weight: bold;
}

div.paginador {
	font-family: sans-serif;
}

div.paginador table {
	border: 3px ridge;
}

div.paginador th {
	background-color: #413883;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

div.paginador th a {
	color: white;
	text-decoration: none;
}

div.paginador th a:hover {
	text-decoration: underline;
}

div.paginador tr.linha_impar {
	background-color: white;
}

div.paginador tr.linha_par {
	background-color: #d0d0d0;
}

div.paginador .seletoresPagina {
	text-align: left;
}

div.paginador .seletoresPagina a {
	color: blue;
	text-decoration: none;
}

div.paginador .seletoresPagina a:hover {
	background-color: #d0d0d0;
	text-decoration: underline;
}

/* Modifica��es para filtro de relat�rio */
#filtro_rel_filtro_cliente {
	height: 580px;
}

#busca_rel_filtro_cliente {
	width: 240px;
}

#seleciona_rel_filtro_cliente {
	height: 320px;
	width: 290px;
	position: absolute;
	margin: 10px 0px 0px 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_cliente2 {
	height: 320px;
	width: 290px;
	margin: 10px 0px 0px 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#res_busca_rel_filtro_cliente {
	height: 235px; 
	width: 300px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_cliente p {
	margin: 0px;
	padding: 0px;
}

#busca_rel_filtro_contrato {
	width: 90%;
}

#seleciona_rel_filtro_contrato {
	height: 120px;
	width: 290px;
	position: absolute;
	margin: 10px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_cep_blacklist {
	height: 90px;
	width: 290px;
	position: absolute;
	margin: 160px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_produto {
	height: 120px;
	width: 290px;
	position: absolute;
	margin: 460px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_cep {
	height: 120px;
	width: 290px;
	position: relative;
	margin: 620px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_tipo_envio {
	height: 120px;
	width: 290px;
	position: absolute;
	margin: 780px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_uf {
	height: 120px;
	width: 290px;
	position: absolute;
	margin: 160px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_regiao {
	height: 120px;
	width: 290px;
	position: absolute;
	margin: 310px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_franquia {
	height: 140px;
	width: 290px;
	position: absolute;
	margin: 150px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#res_busca_rel_filtro_contrato {
	height: 95px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_cep_blacklist {
	height: 65px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_produto {
	height: 95px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_cep {
	height: 95px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_tipo_envio {
	height: 95px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_uf {
	height: 95px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_regiao {
	height: 95px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_contrato p {
	margin: 0px;
	padding: 0px;
}

#res_busca_rel_filtro_regiao p {
	margin: 0px;
	padding: 0px;
}

#res_busca_rel_filtro_uf p {
	margin: 0px;
	padding: 0px;
}

#res_busca_rel_filtro_produto p {
	margin: 0px;
	padding: 0px;
}

#busca_rel_filtro_ccusto {
	width: 90%;
}

#seleciona_rel_filtro_ccusto {
	height: 140px;
	width: 290px;
	position: absolute;
	margin: 190px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#res_busca_rel_filtro_ccusto {
	height: 112px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_ccusto p {
	margin: 0px;
	padding: 0px;
}

#busca_rel_filtro_franquia {
	width: 240px;
}

#seleciona_rel_filtro_franquia {
	height: 180px;
	width: 290px;
	position: absolute;
	margin: 370px 0px 0px 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#res_busca_rel_filtro_franquia {
	height: 160px;
	width: 290px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_franquia p {
	margin: 0px;
	padding: 0px;
}

#busca_rel_filtro_terceiro {
	width: 240px;
}

#seleciona_rel_filtro_terceiro {
	height: 170px;
	width: 300px;
	position: absolute;
	margin: 370px 0px 0px 10px;
	-margin: 370px 0px 0px 0px;
	padding: 10px;
	-padding: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#res_busca_rel_filtro_terceiro {
	height: 102px;
	width: 300px;
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	overflow: auto;
}

#res_busca_rel_filtro_terceiro p {
	margin: 0px;
	padding: 0px;
}

#seleciona_rel_filtro_data {
	height: 170px;
	width: 300px;
	position: absolute;
	margin: 370px 0px 0px 350px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#seleciona_rel_filtro_data p {
	margin: 0px;
	padding: 0px;
}